.Points-Container{
  display: flex;
  justify-content:space-evenly;
  width: 250px;
}
@keyframes pointAnimado {
  0% {
    opacity: 0;
    transform: translateX(25px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-25px);
  }
}

.point{
  background-color: black;
  border-radius: 50%;
  animation: pointAnimado 1.5s ease-in-out infinite;
}

.point-1 {
  animation-delay: 0s;
}

.point-2 {
  animation-delay: 0.3s;
}

.point-3 {
  animation-delay: 0.8s;
}

